workflows/security-ops/Webhook_Signl4_Automation_Webhook_1.json
{
  "id": "wf74e09ef6fb83",
  "name": "TheHive",
  "nodes": [
    {
      "name": "TheHive Create Alert",
      "type": "n8n-nodes-base.theHive",
      "position": [
        500,
        360
      ],
      "parameters": {
        "date": "2022-04-25T08:53:18.000Z",
        "tags": "tlp:pwhite",
        "type": "misp",
        "title": "TheHive Alert",
        "source": "1311",
        "sourceRef": "1330",
        "description": "Security issue detected on server A2. Please check and take care.",
        "additionalFields": {}
      },
      "credentials": {
        "theHiveApi": {
          "name": "Add your theHiveApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "TheHive Read Alerts",
      "type": "n8n-nodes-base.theHive",
      "position": [
        500,
        200
      ],
      "parameters": {
        "filters": {},
        "options": {},
        "operation": "getAll"
      },
      "credentials": {
        "theHiveApi": {
          "name": "Add your theHiveApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        280,
        540
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$(\"TheHive Webhook Request\").item.json[\"body\"][\"object\"][\"stage\"]}}",
              "value2": "=Closed",
              "operation": "notEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "SIGNL4 Send Alert",
      "type": "n8n-nodes-base.signl4",
      "position": [
        500,
        520
      ],
      "parameters": {
        "message": "={{$(\"TheHive Webhook Request\").item.json[\"body\"][\"details\"][\"description\"]}}",
        "additionalFields": {
          "title": "={{$(\"TheHive Webhook Request\").item.json[\"body\"][\"details\"][\"title\"]}}",
          "externalId": "={{$(\"TheHive Webhook Request\").item.json[\"body\"][\"objectId\"]}}"
        }
      },
      "credentials": {
        "signl4Api": {
          "name": "Add your signl4Api credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "TheHive Webhook Request",
      "type": "n8n-nodes-base.webhook",
      "position": [
        80,
        540
      ],
      "parameters": {
        "path": "your-webhook-path",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "name": "Start (Testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        200
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "SIGNL4 Resolve Alert",
      "type": "n8n-nodes-base.signl4",
      "position": [
        500,
        720
      ],
      "parameters": {
        "operation": "resolve",
        "externalId": "={{$(\"TheHive Webhook Request\").item.json[\"body\"][\"objectId\"]}}"
      },
      "credentials": {
        "signl4Api": {
          "name": "Add your signl4Api credential"
        }
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "SIGNL4 Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SIGNL4 Resolve Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start (Testing)": {
      "main": [
        [
          {
            "node": "TheHive Create Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TheHive Webhook Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}