workflows/data-sync-backup/HTTP_Noop_Sync_Webhook.json
{
  "id": "wfb45c4ed6aa41",
  "name": "Syncro Alert to OpsGenie",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        460,
        380
      ],
      "parameters": {
        "path": "fromsyncro",
        "options": {},
        "httpMethod": "POST",
        "responseData": "allEntries",
        "responseMode": "lastNode"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        780,
        380
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "AlertID",
              "value": "={{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"id\"]}}"
            },
            {
              "name": "Description",
              "value": "={{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"computer_name\"]}} ({{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"customer\"][\"business_then_name\"]}}): {{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"formatted_output\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Create Alert",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        260
      ],
      "parameters": {
        "url": "https://api.opsgenie.com/v2/alerts",
        "options": {},
        "requestMethod": "POST",
        "authentication": "headerAuth",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "message",
              "value": "={{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"computer_name\"]}} ({{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"customer\"][\"business_then_name\"]}}): {{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"formatted_output\"]}}"
            },
            {
              "name": "alias",
              "value": "={{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"id\"]}}"
            },
            {
              "name": "description",
              "value": "={{$(\"Webhook\").item.json[\"body\"][\"text\"]}}\n{{$(\"Webhook\").item.json[\"body\"][\"link\"]}}"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "Add your httpHeaderAuth credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Close Alert",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1180,
        460
      ],
      "parameters": {
        "url": "=https://api.opsgenie.com/v2/alerts/{{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"id\"]}}/close?identifierType=alias",
        "options": {},
        "requestMethod": "POST",
        "authentication": "headerAuth",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "note",
              "value": "Issue resolved automatically according to Syncro."
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "Add your httpHeaderAuth credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        780,
        560
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        940,
        380
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"resolved\"]}}"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        620,
        380
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "agent_offline_trigger"
            }
          ]
        },
        "value1": "={{$(\"Webhook\").item.json[\"body\"][\"attributes\"][\"properties\"][\"trigger\"]}}",
        "dataType": "string"
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Close Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}